@using AlfaBankTest.Service.Controllers
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width" />
    <title>Ошибка</title>
</head>
<body>
    <h2>Ошибка</h2>
    <p>Сайт http://alfa-test-api.dev.kroniak.net/api/v1/products/ не доступен</p>
</body>
</html>
